.search-bar {
  flex: 0 0 30%; /*This is a shorthand property that sets flex-grow, flex-shrink, and flex-basis.*/
  display: flex;
  flex-direction: row-reverse;
  min-width: 100px;
}

.search-bar-input {
  font-size: 14px;
  color: #696e79;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 10px;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  flex-grow: 1;
  background: #f5f5f6;
}

.search-bar-icon {
  padding: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  background: #f5f5f6;
  border: 1px solid #f5f5f6;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

.search-bar-icon svg {
  color: #696e79;
}

input.search-bar-input:focus,
input.search-bar-input:focus + span.search-bar-icon {
  background-color: #fff;
  border-color: #eaeaec;
}
