.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.toast-item {
  position: relative;
  bottom: 20px;
  right: 0px;
  margin-bottom: 20px;
  background-color: #f44336;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideUp 0.3s;
  animation-fill-mode: forwards;
}

.toast-item:last-child {
  margin-bottom: 0px;
}

.toast span {
  margin-right: 10px;
}

.toast button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.toast.success {
  background-color: #4caf50; /* green for success */
}

@keyframes slideUp {
  from {
    bottom: -50px;
  }
  to {
    bottom: 20px;
  }
}
