.navbar {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-border-clr);
  padding: var(--spacer-sm) 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: var(--spacer-0) auto;
  padding: 0 var(--spacer-md);
}

.navbar-brand {
  flex: 0 0 5%;
}

.navbar-brand img {
  height: 60px;
}

.navbar-links {
  flex: 0 0 50%;
  margin: var(--spacer-0);
  padding: var(--spacer-0);
  list-style: none;
  display: flex;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: var(--spacer-md);
}

.nav-link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--secondary-txt-color);
  padding: 0 var(--spacer-md);
  border-bottom: none;
}

.navbar-actions {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
}

.navbar-action {
  text-decoration: none;
  color: var(--primary-txt-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: var(--spacer-md);
  box-sizing: content-box;
}

.navbar-action-label {
  color: var(--secondary-txt-color);
  font-size: var(--font-size-sm);
  font-weight: 700;
  padding-top: var(--spacer-sm);
  line-height: 6px;
}

.myntraweb-sprite {
  background: url(./../../assets/imgs/MyntraWebSprite_27_01_2021.png);
  background-size: 1404px 105px;
}

.sprites-headerBag {
  width: 16px;
  height: 16px;
  background-position: -344px -58px;
}
