.navbar {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-border-clr);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: var(--spacer-0) auto;
  padding: var(--spacer-sm) var(--spacer-md);
}

.navbar-brand {
  flex: 0 0 4%;
}

.navbar-brand img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.navbar-links {
  flex: 0 0 45%;
}

.navbar-links-container {
  display: flex;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-md);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--secondary-txt-color);
  padding: 0 var(--spacer-md);
  border-bottom: none;
}

.nav-link a {
  color: var(--secondary-txt-color);
}

.navbar-search {
  flex: 0 0 35%; /*This is a shorthand property that sets flex-grow, flex-shrink, and flex-basis.*/
}

.navbar-actions {
  flex: 0 0 13%;
}

.navbar-actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-action {
  text-decoration: none;
  color: var(--primary-txt-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.navbar-action-label {
  color: var(--secondary-txt-color);
  font-size: var(--font-size-sm);
  font-weight: 700;
  padding-top: var(--spacer-sm);
  line-height: 6px;
}

.sprites-headerBag {
  width: 16px;
  height: 16px;
  background-position: -344px -58px;
}

.cart {
  position: relative;
}

.cart-items-badge {
  position: absolute;
  left: 13px;
  top: -8px;
  width: 18px;
  height: 18px;
  border-radius: var(--border-radius-circle);
  background-color: var(--accent-pink-color);
  color: var(--white);
  font-size: var(--font-size-sm);
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
