header {
  position: sticky;
  top: 0px;
  z-index: 9;
}

main {
  padding: var(--spacer-sm);
}

.row-base-center {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
