header {
  position: sticky;
  top: 0px;
  z-index: var(--z-index-header);
}

:global .row-base-center,
:global .box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

:global .flex-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
