:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f6;
  --footer-bg-color: #fafbfc;
  --translucent-bg-white: hsla(0, 0%, 100%, 0.8);

  --primary-txt-color: #3e4152;
  --primary-txt-color-light: #696e79;
  --primary-txt-color-lighter: #94969f;

  --secondary-txt-color: #282c3f; /*used in headings*/
  --secondary-txt-color-light: #535766; /*used in footer headings*/
  --secondary-txt-color-lighter: #878b94;

  --accent-blue-txt-color: #526cd0;
  --accent-pink-color: #f16565;
  --accent-pink-color-lighter: #ff905a;
  --accent-grey-color-lighter: #7e818c;

  --button-blue-bg-color: #0097d7;

  --primary-border-clr: #eaeaec;

  --border-radius-circle: 50%;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-lg: 14px;

  --font-size: 16px;
  --font-size-15: 15px;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 25px;
  --font-size-xxl: 30px;

  --letter-spacing-sm: 0.3px;
  --letter-spacing-lg: 2.4px;

  --margin-center: 0 auto;

  --spacer-0: 0px;
  --spacer-xxs: 3px;
  --spacer-xs: 5px;
  --spacer-sm: 10px;
  --spacer-md: 16px;
  --spacer-lg: 32px;
  --spacer-xl: 50px;

  --z-index-header: 9;
  --z-index-product-ratings: 1;
  --z-index-product-actions: 2;
}

@font-face {
  font-family: 'Assistant';
  src:
    local('Assistant'),
    url(./assets/fonts/Assistant-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Assistant';
  font-weight: 700;
  src:
    local('Assistant'),
    url(./assets/fonts/Assistant-Bold.ttf) format('truetype');
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  /* color: var(--primary-txt-color); */
  margin: var(--spacer-0);
  font-family:
    Assistant,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  border-color: var(--primary-border-clr);
  border-style: solid;
}

section {
  padding: var(--spacer-0) var(--spacer-md) var(--spacer-md) var(--spacer-md);
}

section h2 {
  margin-bottom: var(--spacer-sm);
}

ul {
  margin: var(--spacer-0);
  padding: var(--spacer-0);
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacer-0);
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}
